* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #002147;
    color: white;
    padding: 20px;
    text-align: center;
}
.university-logo{float: right;width: 60px;height: auto;}


nav {
    background: #004080;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background: #0059b3;
    min-width: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.slideshow img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    align-items: center;
}


.hero {
    padding: 30px;
    text-align: center;
    background: #f4f4f4;
}

.hero button {
    padding: 10px 20px;
    margin-top: 10px;
    background: #002147;
    color: white;
    border: none;
    cursor: pointer;
}

#moreInfo {
    display: none;
    margin-top: 15px;
}

section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
    color: #002147;
}

form {
    max-width: 400px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    background: #004080;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
footer {
    background: #002147;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .slideshow img {
        height: 200px;
    }
}
